# VERCEL / PRODUCTION
SMTP_USER=mariohebat7@gmail.com
SMTP_PASS=ISI_DENGAN_GMAIL_APP_PASSWORD_16_KARAKTER
SESSION_SECRET=GANTI_DENGAN_RANDOM_STRING_PANJANG_MINIMAL_32_KARAKTER
OTP_PEPPER=GANTI_DENGAN_RANDOM_STRING_BERBEDA_MINIMAL_32_KARAKTER

# Hanya untuk server lokal lama
PORT=3000
NODE_ENV=production
